.game-title {
  padding-top: 20px;;
  font-family: 'Ribeye Marrow';
  font-size: 32px;
  color: darkblue;
  font-style: italic;
  justify-content: center;
  text-align: center;
}

.content {
  background: rgba(255,255,255,0.7);
}

body {
  background: white;
  background: url('../images/cookie-stack-sketch.png');
  background-size: auto;
  background-position: bottom;
  background-attachment: fixed;
  background-repeat: repeat;
}

.canvas-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.game-instructions {
  padding-bottom: 20px;
  font-family: "Ribeye Marrow";
  font-size: 22px;
  font-style: italic;
  color: darkblue;
  justify-content: space-evenly;
}

.game-footer {
  padding-bottom: 20px;
  bottom: 0;
  display: flex;
  font-family: "Ribeye Marrow";
  font-size: 22px;
  color: darkblue;
  justify-content: space-evenly;
  width: 100%;
  align-items: center;
}