.game-title {
  font-family: 'Ribeye Marrow';
  font-size: 32px;
  color: darkblue;
  font-style: italic;
}

.canvas-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-footer {
  font-family: "Ribeye Marrow";
  color: darkblue;
}