.game-title {
  font-family: 'Ribeye Marrow';
  font-size: 32px;
  color: darkblue;
  font-style: italic;
  justify-content: center;
}

body {
  background: white;
  background: url('../images/cookie-stack-sketch.png');
  background-size: cover;
  background-position: baseline;
}

.canvas-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-footer {
  display: flex;
  font-family: "Ribeye Marrow";
  font-size: 22px;
  color: darkblue;
  justify-content: space-evenly;
}